.create-lead {
  .form {
    max-width: 640px;
    color: white;
    z-index: 20;
    .form-control, button {
      width: 100%;
    }
    .title {
      @include regular-font-family();
      text-transform: capitalize;
      font-size: 3.5rem;
    }
    .subtitle {
      @include thin-font-family();
    }
    .email-address {
      padding-right: 5px;
      @include media(extra-small) {
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    .submit {
      padding-left: 5px;
      @include media(extra-small) {
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    .row {
      &--coming-soon {
        padding-top: 15px;
        padding-bottom: 15px;
        height: 100px;
      }
      &--social-media {
        margin-top: 2%;
      }
    }
    .coming-soon {
      height: 63px;
    }
    .social-media-container {
      border-radius: 9000px;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      cursor: pointer;
      transition-property: color, background-color;
      transition-duration: 250ms;
      &--facebook {
        background-color: $facebook-blue;
        &:hover, &:active {
          background-color: darken($facebook-blue, 10%);
        }
      }
      &--twitter {
        background-color: $twitter-blue;
      }
      &--instagram {
        background-color: purple;
        &:hover, &:active {
          background-color: darken(purple, 10%);
        }
      }
      &--email {
        background-color: orange;
        &:hover, &:active {
          background-color: darken(orange, 10%);
        }
      }
    }
    .social-media {
      font-size: 1.5rem;
    }
    .social-media-gang {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .banner {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: top center;
    //background: linear-gradient(to right, #cdc3bd, #beb0a9);
    //background: linear-gradient(to right, #79A9AC, #D2E1DD);
    background: linear-gradient(to right, #415c6a, #89adbb);
    //background: linear-gradient(to right, #42275a, #734b6d);
    //background: linear-gradient(to right, #4568dc, #b06ab3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    //background: linear-gradient(to right, #c0392b, #8e44ad);
    //background: linear-gradient(to right, #f46b45, #eea849);

    .dimmer {
      position: absolute;
      overflow: hidden;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 11;
      background-color: black;
      opacity: 0.375;
    }

    .video-container {
      position: absolute;
      overflow: hidden;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      video {
        min-width: 100%;
        overflow-y: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -100;
      }
    }
  }
}