{% load i18n %}
{% load staticfiles %}
<html {% block html_attributes %}{% endblock %}>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale=1">
    <meta name="description" content="" />
    {% block facebook_meta_tags %}
        <meta property="og:title" content="{{ site_display_name }} | Send invoices and track time worked for your business" />
        <meta property="og:url" content="https://getkoura.com/" />
        <meta property="og:image" content="{% static "img/logo.png" %}"/>
    {% endblock %}
    <meta name="google-site-verification" content="tGyYc--L6HOGm5MDAtrdoLtcnRQFY3-d5fC6e0yCxLw" />
    <title>{% block title %}{{ site_display_name }} | Send invoices and track time worked for your business{% endblock %}</title>
    {% block links %}{% endblock %}
    <link href="{% static "app.css" %}" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/favicon.ico" %}"/>
    <link rel="icon" type="image/x-icon" href="{% static "img/favicon.ico" %}"/>
</head>
<body {% block body_attributes %}{% endblock %}>
{% block body %}{% endblock %}
</body>
{% if not debug %}
    <script src="{% static 'js/google_analytics.js' %}"></script>
{% endif %}
<script src="{% static "app.js" %}"></script>
{% block scripts %}{% endblock %}
</html>
