{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load cache %}
{% block body %}
    {% block content %}
    {% endblock %}
    {% block footer %}
        {% cache 0 footer %}
            <footer class="{% block footer_class %}container-fluid footer{% endblock %}" id="footer">
                <div class="center-block text-center link-container">
                    <a href="{% url 'privacy_policy' %}">Privacy</a>
                    <span class="fa fa-circle"></span>
                    <a href="{% url 'terms_of_service' %}">Terms</a>
                </div>
                <div class="text-center icon-container">
                    <a class="fa fa-facebook-official fa-2x icon" href="https://www.facebook.com/Koura-1970538366498422/"></a>
                    <a class="fa fa-envelope fa-2x icon" href="mailto:info@getkoura.com"></a>
                </div>
                <div class="text-center copyright">
                   © 2017 {{ site_display_name }}
                </div>
            </footer>
        {% endcache %}
    {% endblock %}
{% endblock %}