{% extends "content_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{{ site_display_name }} | Terms of Service {% endblock %}
{% block content %}
    <div class="legal">
        <h1 class="title">Terms of Service</h1>
        <p>
            By accessing this web site, you are agreeing to be bound by these
            Terms of Service, all applicable laws and regulations,
            and agree that you are responsible for compliance with any applicable local
            laws. If you do not agree with any of these terms, you are prohibited from
            using or accessing this site. The materials contained in this web site are
            protected by applicable copyright and trade mark law.
        </p>
        <p>Updated June 24, 2017</p>

        <h3 class="subtitle">Use License</h3>
        <div class="paragraph">
            Permission is granted to temporarily download one copy of the materials
            (information or software) on {{ site_display_name }}'s web site for personal,
            non-commercial transitory viewing only. This is the grant of a license,
            not a transfer of title, and under this license you may not:
            <ol type="i">
                <li>modify or copy the materials;</li>
                <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
                <li>attempt to decompile or reverse engineer any software contained on {{ site_display_name }}'s web site;</li>
                <li>remove any copyright or other proprietary notations from the materials; or</li>
                <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
            </ol>
        </div>
        <p>
            This license shall automatically terminate if you violate any of these restrictions and
            may be terminated by {{ site_display_name }} at any time. Upon terminating your viewing of these materials
            or upon the termination of this license, you must destroy any downloaded materials in your
            possession whether in electronic or printed format.
        </p>

        <h3 class="subtitle">Disclaimer</h3>
        <p>
            The materials on {{ site_display_name }}'s web site are provided "as is". {{ site_display_name }} makes no warranties, expressed or
            implied, and hereby disclaims and negates all other warranties, including without limitation, implied
            warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of
            intellectual property or other violation of rights. Further, {{ site_display_name }} does not warrant or make any representations
            concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web
            site or otherwise relating to such materials or on any sites linked to this site.
        </p>

        <h3 class="subtitle">Limitations</h3>
        <p>
            In no event shall {{ site_display_name }} or its suppliers be liable for any damages (including, without limitation,
            damages for loss of data or profit, or due to business interruption,) arising out of the use or inability
            to use the materials on {{ site_display_name }}'s Internet site, even if {{ site_display_name }} or a {{ site_display_name }} authorized representative has
            been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not
            allow limitations on implied warranties, or limitations of liability for consequential or incidental damages,
            these limitations may not apply to you.
        </p>

        <h3 class="subtitle">Ownership</h3>
        <p>
            Unless clearly stated otherwise via {{ site_display_name }} communication, when the work is delivered, and subject to payment,
            the buyer is granted all intellectual property rights, including but not limited to, copyrights for the work
            delivered from the seller, and the seller waives any and all moral rights therein. The delivered work shall be
            considered work-for-hire under the U.S. Copyright Act. In the event the delivered work does not meet the
            requirements of work-for-hire or when US Copyright Act does not apply, the seller expressly agrees to assign to
            buyer the copyright in the delivered work. All transfer and assignment of intellectual property to buyer shall
            be subject to full payment for the job and the delivery may not be used if payment is cancelled for any reason.
            For removal of doubt, in custom created work (such as art work, design work etc.), the delivered work shall be
            the exclusive property of buyer, and seller assigns all rights, title and interest in the delivered work.
        </p>
        <p>
            Sellers further confirm that whatever information they receive from the buyer, which is not public domain,
            shall be kept confidential and shall not be shared or used for any purpose whatsoever other than for the delivery
            of the ordered work to the buyer. Furthermore, users (both buyers and sellers) agree that unless they explicitly
            indicate otherwise, the content users voluntarily create/upload to {{ site_display_name }}, including job texts, photos, videos,
            usernames, user photos, user videos and any other information, including the display of delivered work,
            may be used by {{ site_display_name }} for no consideration for marketing and/or other purposes.
        </p>

        <h3 class="subtitle">Payment Processing</h3>
        <p>
            Payment processing services for businesses and individuals on {{ site_display_name }} are provided
            by Stripe and are subject to the <a href="https://stripe.com/connect-account/legal">Stripe Connected Account Agreement</a>,
            which includes the <a href="https://stripe.com/legal">Stripe Terms of Service</a> (collectively, the
            “Stripe Services Agreement”). By agreeing to these terms or continuing to operate as a business or individual on {{ site_display_name }},
            you agree to be bound by the Stripe Services Agreement, as the same may be modified by Stripe from time to time.
            As a condition of {{ site_display_name }} enabling payment processing services through Stripe, you agree to
            provide {{ site_display_name }} accurate and complete information about you and your business, and you authorize
            {{ site_display_name }} to share it and transaction information related to your use of the payment processing services provided by Stripe.
        </p>

        <h3 class="subtitle">Refund Policy</h3>
        <p>
            We want to make sure you are 100% happy with our services. All refunds must be made within 30 days of receiving your order. Please contact us at {{ support_email }}.
        </p>

        <h3 class="subtitle">Revisions and Errata</h3>
        <p>
            The materials appearing on {{ site_display_name }}'s web site could include technical, typographical, or photographic errors.
            {{ site_display_name }} does not warrant that any of the materials on its web site are accurate, complete, or current. {{ site_display_name }}
            may make changes to the materials contained on its web site at any time without notice. {{ site_display_name }} does not,
            however, make any commitment to update the materials.
        </p>

        <h3 class="subtitle">Links</h3>
        <p>
            {{ site_display_name }} has not reviewed all of the sites linked to its Internet web site and is not responsible for the
            contents of any such linked site. The inclusion of any link does not imply endorsement by {{ site_display_name }} of the site.
            Use of any such linked web site is at the user's own risk.
        </p>

        <h3 class="subtitle">Site Terms of Use Modifications</h3>
        <p>
            {{ site_display_name }} may revise these terms of use for its web site at any time without notice. By using this web site
            you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
        </p>

        <h3 class="subtitle">Governing Law</h3>
        <p>
            Any claim relating to {{ site_display_name }}'s web site shall be governed by the laws of the District of Columbia without
            regard to its conflict of law provisions.
        </p>
    </div>
{% endblock %}