{% load invoice %}
<html>
<head>
    <title>
        New Invoice from {{ invoice.business.name }}
    </title>
</head>
<body>
    <p>Hey {{ invoice.client.first_name }},</p>
    <p>You have received an invoice of {{ invoice.amount|amount }} from {{ invoice.business.name }}.</p>
    <p>Pay <a href="{{ invoice.absolute_charge_url }}">here</a></p>
    <p>
        Peace,<br/>
        Koura
    </p>
</body>
</html>
