{% load invoice %}
<html>
<head>
    <title>
        Receipt from {{ invoice.business.name }}
    </title>
</head>
<body>
    <p>Hey {{ invoice.client.first_name }},</p>
    <p>You paid {{ invoice.amount|amount }} with your {{ card_brand }} ending in {{ card_last_4 }} to {{ invoice.business.name }} on {{ charge_date|date:'SHORT_DATETIME_FORMAT' }}.</p>
    <p>
        Peace,<br/>
        Koura
    </p>
</body>
</html>
