$light-green: #90EE90;
$pine-green: #01796F;
$tea-green: #D0F0C0;
$malachite: #0BDA51;
$tundora: #414141;
$medium-gray: #555;
$gray: #828282;
$silver: #ccc;
$orange-coral: #F88379;
$error-message-color: #a94442;
$secondary-background-color: #ebebeb;
$muted-text-color: $gray;
$muted-accent-text-color: #b6655e;
$facebook-blue: #3b5998;
$red-coral: #E14233;
$dark-blue: #0000AF;
$electric-violet: #6534ff;
$san-marino: #3f51b5;
$twitter-blue: #00aced;

$primary-color: $red-coral;
