// FontAwesome overrides
$fa-font-path: "fonts/font_awesome";

// Bootstrap overrides
$brand-primary: $primary-color;
$font-family-sans-serif: MonsterratLight,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-base:       $font-family-sans-serif;
$enable-flex:               true !default;
$body-color: $tundora;

// Fonts
$brand-font-family: 'RanchersRegular';
$regular-font-family: 'MonsterratRegular';
$light-font-family: 'MonsterratLight';
$thin-font-family: 'MonsterratHairline';
$bold-font-family: 'MonsterratBold';