@import "mixins";
@import "fonts";
@import "colors";
@import "variables";

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/font-awesome/scss/font-awesome";
@import "forms";

@import "pages/legal";
@import "pages/charge_invoice";
@import "pages/create_lead";

.footer {
  background-color: black;
  padding: 2% 0;
  font-size: 0.75rem;
  .icon-container {
    padding: 5px 0;
    .icon {
      padding: 0 5px 0 5px;
      color: #ffffff;

      &:hover , &:focus{
        background-color: transparent;
        color: white;
        text-decoration: none;
      }
    }
  }

  .link-container {
    padding: 5px 0;
    a {
      color: white;
      text-transform: uppercase;
      &:hover, &:focus {
        color: white;
      }
    }
    .fa-circle {
      font-size: 0.5em;
      padding: 0 15px;
      position: relative;
      top: -2px;
    }
  }
}