{% extends 'content_base.html' %}
{% load invoice %}
{% load staticfiles %}
{% block content %}
    {% with address=invoice.business.address business=invoice.business client=invoice.client %}
        <div class="charge-invoice">
            <div class="container business">
                {% if business.logo %}
                    <div class="row text-center">
                        <div class="col-12">
                            <img src="{{ business.logo.url }}" class="mx-auto d-block logo"/>
                        </div>
                    </div>
                {% endif %}
                <div class="row text-center">
                    <div class="col-12">
                        <p>
                            {{ business.name }}<br/>
                            {{ address.street_address_1 }}, {{ address.locality }}, {{ address.region }} {{ address.postal_code }}<br/>
                        </p>
                    </div>
                </div>
            </div>
			<div class="container invoice">
                <div class="row">
                    <div class="col-12">
                        <p>Thank you!</p>
                        <p>Your receipt was sent to {{ client.email_address }}</p>
                    </div>
                </div>
			</div>
        </div>
    {% endwith %}
{% endblock %}
