{% extends 'content_base.html' %}
{% load invoice %}
{% load staticfiles %}
{% block content %}
    {% with address=invoice.business.address business=invoice.business client=invoice.client %}
        <div class="charge-invoice">
            <div class="container business">
                {% if business.logo %}
                    <div class="row text-center">
                        <div class="col-12">
                            <img src="{{ business.logo.url }}" class="mx-auto d-block logo"/>
                        </div>
                    </div>
                {% endif %}
                <div class="row text-center">
                    <div class="col-12">
                        <p>
                            {{ business.name }}<br/>
                            {{ address.street_address_1 }}, {{ address.locality }}, {{ address.region }} {{ address.postal_code }}<br/>
                        </p>
                    </div>
                </div>
            </div>
            <div class="container invoice">
                <div class="row">
                    <div class="col-12">
                        <p class="date">{{ invoice.date_created|date:"F j, Y" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>
                            Client<br/>
                            {{ invoice.client.full_name }}<br/>
                            {{ invoice.client.email_address }}<br/>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12"><hr/></div>
                    <div class="col-12">
                        <p>
                            Thank you for your business, your trust, and your confidence.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12"><hr/></div>
					{% if invoice.has_time_sheet %}
						{% for line_item in line_items %}
							<div class="col-5">
								<p>
									{{ line_item.description }}
								</p>
							</div>
							<div class="col-4">
								{% if line_item.time_sheet %}
									<p>
										{{ line_item.time_sheet.rounded_hours }} hrs @ {{ line_item.time_sheet.hourly_rate|amount }}/hr
									</p>
								{% endif %}
							</div>
							<div class="col-3">
								<p class="text-right">
									{{ line_item.amount|amount }}
								</p>
							</div>
						{% endfor %}
					{% else %}
						{% for line_item in line_items %}
							<div class="col-9">
								<p>
									{{ line_item.description }}
								</p>
							</div>
							<div class="col-3">
								<p class="text-right">
									{{ line_item.amount|amount }}
								</p>
							</div>
						{% endfor %}
					{% endif %}
                </div>
                <div class="row total">
                    <div class="col-12"><hr/></div>
                    <div class="col-8">
                        <p>
                            Total Due
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="text-right">
                            {{ invoice.amount|amount }}
                        </p>
                    </div>
                </div>
            </div>
            {% if not is_read_only %}
                <form method="post" class="form">
                    {% csrf_token %}
                    {{ form }}
                    <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="{{ stripe_public_key }}"
                            data-email="{{ client.email_address }}"
                            data-amount="{{ invoice.amount }}"
                            data-name="{{ business.name }}"
                            data-description="{{ invoice.description }}"
                            data-image="{{ business.logo.url }}"
                            data-locale="auto"
                            data-zip-code="true">
                    </script>
                    {#                <input type="submit" value="Submit" />#}
                </form>
            {% endif %}
        </div>
    {% endwith %}
{% endblock %}
